body {
  margin: 0;
  font-family: "Yu Gothic", sans-serif;
  background: #f5f5f5;
}

.header {
  max-width: 640px;
  margin: 0 auto;
}
.header img {
  width: 100%;
  display: block;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: #1C1A1A;
}

.reduction{
  color: #4db5ab;
}

label {
  display: block;
  margin-top: 8px;
  color: #494949;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #DAD8D8;
  border-radius: 3px;
  color: #494949;
}

select{
  background-color: #F1EFEF;
}

.calculation-top{
  font-size: 11px;
}

.calculation{
  font-size: 11px;
  margin-top: 10px;
}

/* 横並び */
.inline-group {
  display: flex;
  gap: 10px;
}
.inline-group div {
  flex: 1;
}

.result-row{
  display: flex;
}

.row{
  color: #494949;
}

.left{
  flex: 1;
}

.right{
  flex: 1;
  line-height: 1.6;
}

/* 余白 */
.spacer {
  height: 40px;
}

.red { color: red; }
.green { color: green; }

.box-orange
{
height: 40px;
background-color: #4db5ab;
border-radius: 5px 5px 0 0;
}

h3{
  padding-top: 8px;
  font-size: 17px;
  color: #fff;
  width: 100%;
  text-align: center;
}

.result {
  background-color: #eef9f7;
  padding: 20px 20px 20px 20px;
  margin-bottom: 10px;
  border-radius: 0 0 5px 5px;
}

/* ボタン */
button {
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  background-color: #595959;
  border-radius: 3px;
}

/* 更新ボタン　矢印 */
.parent{
  position: relative;
}

.back{
  position: absolute;
  top: 53.5%;
  left: 5%;
  width: 27px;
  height: 27px;
  border-radius: 13px;
  background-color: #fff;
}

.front{
  position: absolute;
  top: 59.5%;
  left: 5.8%;
}

/* 印刷ボタン */
#printBtn{
  position: fixed;
  right: 20px;
  bottom: 20px;

  width: 120px;
  padding: 12px;

  background-color: #0D347E;
  color: white;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  box-shadow: 0 2px 8px rgba(0,0,0,.2);
}

#printBtn:hover{
  background-color: #1950b5;
}

@media print {

  *{
  -webkit-print-color-adjust: exact !important;
print-color-adjust: exact !important;
  }

 button,
 #printBtn,
 #resetBtn{
   display:none !important;
  }

 body{
  background:#fff;
  zoom:85%;
 }

 .header img{
  width:100%;
  max-height:100px;
  object-fit:cover;
 }

  .box-orange{
   background-color:#F17B05 !impor*ant;
    color:#fff !important;
  *

  .result
  .result-row,
  .inline-group{
  page-break-inside:avoid;
  break-inside:avoid;
  background-color:*FEF5F0 !important;
  }

  .*ontainer{
    page-break-inside:av*id;
    break-inside:avoid;
  }

  .container{
    page-break-inside: avoid;
    break-inside: avoid;
    width:100%;
    max-width:100%;
    margin:0;
    padding:10px
  }

  }
}*
